.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 350px;
}

.login label {
  color: #888;
  margin-right: 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.login .inputEmail, .login .inputPassword {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  margin: 10px 0;
  display: block;
  width: 250px
}

.login .btnContainer {
  display: flex;
  justify-content: space-between;
}

.login .btnContainer input {
  border: none;
  padding: 10px 40px;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 0;
  color: lightgray;
}

.btnLogin {
  background-color: #084c94;
}

.btnRegister {
  background-color: #18667a;
}

.btnLogin:hover {
  background-color: #007BFF;
  filter: drop-shadow(0 0 2em #646cffaa);
  color: #fff!important;
}

.btnRegister:hover {
  background-color: #109cc3aa;
  filter: drop-shadow(0 0 2em #61dafbaa);
  color: #fff!important;
}